.tick line {
    stroke: #C0C0BB;
}

.tick text {
    color: #635F5D;
    font-family: 'Poppins', sans-serif;
}

.mark {
    fill: #d12323;
}

.axis-label {
    font-size: 1.25em;
    color: #635F5D;
}