.marks {
    .graticules {
        fill: none;
        stroke: #ECECEC;
    }

    .land {
        fill: #D8D8D8;
    }

    .interiors {
        fill: none;
        stroke: #D9DFe0;
    }

    .sphere {
        fill: #FBFBFB;
    }

    circle {
        fill: #137B80;
        opacity: 0.3;
    }
}