pre {
    font-size: 7em;
}

.tick {
    line {
        fill: none;
        stroke: #ececec;
    }
    
    text {
        fill: #635F5D;
        font-size: 0.5em;
    }
}

.mark {
    fill: #137B80;
}

.axis-label {
    font-size: 0.5em;
    fill: #635F5D;
}

.marks {
    .graticules {
        fill: none;
        stroke: #ececec;
    }

    .interiors {
        fill: none;
        stroke: #d9dfe0;
    }

    .land {
        fill: #ececec;
    }

    .sphere {
        fill: #fbfbfb;
    }
}

circle {
    fill: #137B80;
    opacity: 0.3;
}