.marks {
    .graticules {
        fill: none;
        stroke: #ECECEC;
    }

    .land {
        fill: #D8D8D8;
    }

    .interiors {
        fill: none;
        stroke: #D9DFe0;
    }

    .sphere {
        fill: #FBFBFB;
    }

    .city-marker {
        fill: #137B80;
        opacity: 0.3;
    }
}

.tooltip {
    rect {
        fill: gray;
        opacity: 0.75;
        border-radius: 5px;
    }

    text {
        fill: #fff;
        font-size: 12px;
    }
}