.marks {
    .graticules {
        fill: none;
        stroke: #DADADA;
    }

    .land {
        fill: #137B80;
    }

    .interiors {
        fill: none;
        stroke: #339498;
    }

    .sphere {
        fill: #ECECEC;
    }
}